* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

/* Navigation */
.navbar {
  padding: 1rem 12px;
  background-color: #212529;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1050;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.main-nav {
  padding: 10px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.logo {
  color: #fed136;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: none;
  font-size: 0.95rem;
}

.menu li {
  margin-left: 15px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu a:hover {
  color: #fed136;
}

/* Header */
header {
  background-image: url(https://learn.seytech.co/assets/projects/html-css/projects/1-agency/assets/img/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  text-align: center;
  height: 70vh;
  display: flex;
}

.header-inner {
  margin: auto;
}

.header-inner h2 {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 10px;
  font-weight: normal;
}

.header-inner h1 {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.btn {
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  margin-top: 15px;
  display: inline-block;
  background-color: #fed136;
  border-color: #fed136;
  border-radius: 3px;
  font-size: 22px;
  font-weight: 700;
}

.btn:hover {
  background-color: #fec810;
  border-color: #fec503;
}


/* services */
/* start line services*/

.page-section {
  padding: 0 12px;
  text-align: center;
}

.boxes {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-header {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
  margin-top: 5rem;
  font-size: 40px;

}

h1 {
  text-size-adjust: bold;
  text-size-adjust: large;
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 4rem;
}

h4 {

  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.75;
  font-size: 1.5rem;
  margin-top: 3px;
  margin-bottom: 1rem;
}

p {
  color: #6c757d !important;
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 5px;
  padding: 5px;
  margin-bottom: 90px;
}

.icon-wrapper {
  display: inline-block;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  position: relative;
  background-color: rgb(255, 191, 0);
  margin-bottom: 20px;
}

.icon-wrapper .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 75px;
  height: 70px;
}

/* section team */
:root{
  --primary-color: #F8F9FA;
  --secondary-color: #212529;
  --dark-color: #6C757D;
  --light-color: #DFE0E1;
  --success-color: #343A40;
}
.container1{
  width: 98%;
  margin:auto;
  height:auto;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;;
 
}

section .card .image{
  height: 230px;
  width: 230px;
  padding:3px;
 
}

section .card .image img{
  height:100%;
  width:100%;
  object-fit: cover;
  border: 8px solid var(--light-color);
  border-radius: 50%;
}

.card{
  width: 420px;
}
.card .card-content{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;    
}
.card .name-proffesion{
  display:flex;
  flex-direction: column;
  align-items:center;
  margin-top:15px;
}

.name-proffesion .name{
  font-size:25px;
  font-weight: 600;
  color: var(--secondary-color);
}

.name-proffesion .proffesion{
  font-size:15px;
  font-weight: 500;
  color: var(--dark-color);
  margin-bottom:10px;
}

.header{
  padding:50px;
}

.header h2{
  margin-top: 30px;
  font-size: 40px;
  color:var(--secondary-color);   
}

.header p{
  color:var(--dark-color);
  font-size: 15px;
  font-weight: 10;
  text-align:center;
  margin-bottom:16px;

}

.text{
  text-align:center;
  width:90%;
  margin:auto;
  padding:20px;
}

* ::selection{
  background-color: #FED136;
}
/* section team end */



/*footer style */
footer {
  text-align: center;
  font-size: 0.9rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  padding: 1.5rem 12px;
}

.footer-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
  min-width: 265px;
}

.footer-text {
  padding: 0 0.75rem;
  line-height: 1.5;
}

.footer-btn {
  margin: 1rem 0;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.footer-btn-a {
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
  margin: 0 0.5rem;
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.footer-btn-a:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.footer-links {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.footer-links-a {
  color: #fed136;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0.5rem;
}

.footer-links-a:hover {
  color: #e6b301;
  text-decoration: underline;
}


/* CSS MIN 576px*/
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .header-inner h2 {
    font-size: 24px;
  }

  .header-inner h1 {
    font-size: 38px;
  }
 
  /* footer css */
  footer {
    font-size: 0.9rem;
    text-align: center;
  }

  .footer-container {
    width: 100%;
    max-width: 540px;
  }

}


/* CSS MIN 762px*/
@media (min-width: 762px) {
  .container {
    max-width: 720px;
  }

  .header-inner h2 {
    font-size: 30px;
  }

  .header-inner h1 {
    font-size: 46px;
  }

  .btn {
    padding: 1rem 2.15rem;
  }

  .boxes {
    grid-template-columns: repeat(3, 1fr);
  }
  .box{
    justify-content: flex-start;
  }

  /* footer */
  footer {
    font-size: 0.9rem;
    text-align: center;
  }

  .footer-container {
    width: 100%;
    max-width: 720px;
  }
}


/* CSS MIN 992px*/
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  /* navbar */
  .logo {
    font-size: 1.5em;
  }

  .navbar {
    background-color: transparent;
  }

  .menu {
    display: flex;
    margin-left: auto;
  }

  .header-inner h2 {
    font-size: 38px;
  }

  .header-inner h1 {
    font-size: 54px;
  }

  .btn {
    padding: 1.15rem 2.25rem;
  }

  
  /* section team */
  .container-card{
    display:flex;
    flex-direction:row;
}

.text{
    text-align:center;
    width:55%;
    margin:auto;
    flex-wrap: nowrap;
}

  /* footer*/
  footer {
    font-size: 0.9rem;
    text-align: center;
  }

  .footer-container {
    max-width: 960px;
  }

  .footer-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

/* CSS MIN 1200px*/
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .header-inner h2 {
    font-size: 42px;
  }

  .header-inner h1 {
    font-size: 64px;
    letter-spacing: 3px;
  }

  .btn {
    padding: 1rem 2.15rem;
  }
}